<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>Osahan Eat - Online Food Ordering Website HTML Template</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/assets/vendor/select2/css/select2.min.css" rel="stylesheet">
    <link href="/assets/css/osahan.css" rel="stylesheet">
</head>

<body class="bg-white">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
                                <h3 class="login-heading mb-4">Đăng ký thành viên nhận ngay ưu đãi!</h3>
                                <form action="/signUp" method="post" enctype="multipart/form-data">
                                    <div class="form-label-group">
                                        <input  type="text" id="username" name="username" class="form-control" required>
                                        <label for="username" class="form-label">Tên tài khoản</label>
                                    </div>
                                    <div>
                                        <p style="color: red; text-align: center; size: 1rem;">
                                        <% if (err.username) { %>
                                        <%= err.username %>
                                        <% } %> 
                                   </p>
                                   </div>
                                    <div class="form-label-group">
                                        <input type="password" id="password" name="password" class="form-control" required>
                                        <label for="password" class="form-label">Mật khẩu</label>
                                    </div>
                                    <div>
                                        <p style="color: red; text-align: center; size: 1rem;">
                                        <% if (err.password) { %>
                                        <%= err.password %>
                                        <% } %> 
                                     </p> 
                                     </div>
                                    <div class="form-label-group">
                                        <input type="password" id="re_password" name="re_password" class="form-control" required >
                                        <label for="re_password" class="form-label">Xác nhận mật khẩu</label>
                                    </div>
                                    <div>
                                        <p style="color: red; text-align: center; size: 1rem;">
                                            <% if (err.re_password) { %>
                                            <%= err.re_password%>
                                            <% } %> 
                                        </p>
                                    </div>
                                    <div class="form-label-group">
                                        <input  type="text" id="email" name="email" class="form-control" required>
                                        <label for="email" class="form-label">Địa chỉ thư điện tử</label>
                                        <div>
                                        <p style="color: red; text-align: center; size: 1rem;">
                                            <% if(err.email){ %>
                                            <%= err.email %>
                                            <% } %> 
                                        </p>
                                        </div>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" id="address" name="address" class="form-control" required>
                                        <label for="address" class="form-label">Địa chỉ nhà</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" id="phone" name="phone" class="form-control" required>
                                        <label for="phone" class="form-label">Số điện thoại</label>
                                    </div>
                                    <div>
                                        <p style="color: red; text-align: center; size: 1rem;">
                                            <% if(err.phone){ %>
                                            <%= err.phone %>
                                            <% } %> 
                                        </p>  
                                    </div>
                                    <button
                                        class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Đăng ký</button>
                                    <div class="text-center pt-3">
                                        Bạn đã có tài khoản? <a class="font-weight-bold" href="login.ejs">Đăng nhập ngay</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/vendor/jquery/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/assets/vendor/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="/assets/js/custom.js" type="text/javascript"></script>
</body>
</html>